<h1>lista</h1>
<a ui-sref="dashboard.tabs.alugueis.novo">novo</a>


<!-- LISTA DE CONTRATOS -->
<table tr-ng-grid="" items="todos" fields="['imovel', 'locador', 'locador_nomeAssinatura', 'text', 'valorTotal', 'dataDeEntrada', 'dataDeSaida']" page-items="20">
<thead>
<tr>
</th><th field-name="imovel" display-name="Imóvel"> 
   </th><th field-name="text" display-name="Hóspede">
   </th><th field-name="locador_nomeAssinatura" display-name="Assinatura">
   </th><th field-name="valorTotal" display-name="Valor" display-format="currency: 'R$' ">
   </th><th field-name="dataDeEntrada" display-name="Entrada" display-format="date:'dd/MM/yyyy' :'UTC'">
   </th><th field-name="dataDeSaida" display-name="Saída" display-format="date:'dd/MM/yyyy' :'UTC'">
</tr>
</thead>

<tbody>
  <tr>
    <td>
      <button class="glyphicon glyphicon-pencil" ng-click="rowform.$show()"></button>
    </td>
    <td>
      <button class="glyphicon glyphicon-trash" ng-click="deleteTodo(gridItem._id)"></button>
    </td>
    <td>
      <a class = "glyphicon glyphicon-download-alt" ng-href="/api/download/{{gridItem._id}}" target="_self"></A>
    </td>
  </tr>

</tbody>

</table>
<!-- FIM LISTA DE CONTRATOS -->