<div class="container">

  <tabset>
    
    <tab heading="Aluguéis">

      <div ng-controller = "mainController">
        <!-- LISTA DE CONTRATOS -->
        <table tr-ng-grid="" items="todos" fields="['imovel', 'locador', 'locador_nomeAssinatura', 'text', 'valorTotal', 'dataDeEntrada', 'dataDeSaida']" page-items="20">
        <thead>
        <tr>
        </th><th field-name="imovel" display-name="Imóvel">
           </th><th field-name="text" display-name="Hóspede">
           </th><th field-name="locador_nomeAssinatura" display-name="Assinatura">
           </th><th field-name="valorTotal" display-name="Valor" display-format="currency: 'R$' ">
           </th><th field-name="dataDeEntrada" display-name="Data de Entrada" display-format="date:'dd/MM/yyyy' :'UTC'">
         </th><th field-name="dataDeSaida" display-name="Data de Saída" display-format="date:'dd/MM/yyyy' :'UTC'">

        </tr>
        </thead>
        
        </table>
        <!-- FIM LISTA DE CONTRATOS -->

      </div>
    </tab>
    
    <tab heading="Imóveis">
    </tab>
    
    <tab heading="Hóspedes">
    </tab>
    
  </tabset>

  <!-- <div class="panel panel-default">
    <div class="panel-heading">Home Page</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
            tellus ac cursus commodo, tortor mauris condimentum nibh, ut
            fermentum massa justo sit amet risus. Etiam porta sem malesuada
            magna mollis euismod. Donec sed odio dui.</p>
          <p><a class="btn btn-primary" href="#">View details »</a></p>
        </div>
        <div class="col-sm-6">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
            tellus ac cursus commodo, tortor mauris condimentum nibh, ut
            fermentum massa justo sit amet risus. Etiam porta sem malesuada
            magna mollis euismod. Donec sed odio dui.</p>
          <p><a class="btn btn-primary" href="#">View details »</a></p>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="text-center">
    <a class="btn btn-default" href="https://github.com/sahat/satellizer"><i class="ion-social-github"></i> GitHub project</a>
    <a class="btn btn-default" href="https://github.com/sahat/satellizer/issues/new"><i class="ion-bug"></i> Report issue</a>
  </div> -->
</div>