<div class="container">

  <tabset>
    <tab heading="Aluguéis">
      <div ng-controller = "mainController">
        <!-- LISTA DE CONTRATOS -->
    <div id="todo-list" class="row">
      <div class="col-sm-4">


        <div>
          <table class = 'tabela'>
          <tr>
            <th>Deletar</th>
            <!-- <th>id</th> -->
            <th>Imóvel</th>
            <th>Locador</th>
            <th>Assinatura</th>
            <th>Conta</th>
            <th>Nome do Hóspede</th>
            <th>Valor Total</th>
              <th>Data de Entrada</th>
              <th>Data de Saída</th>
              <!-- <th>Horário de Entrada</th>
              <th>Horário de Saída</th> -->
            <th>Contrato</th>
             <!-- <th>Horário de Entrada</th>
             <th>Horário de Saída</th> -->
           </tr>
            <tr ng-repeat="todo in todos">
              <td><input type="checkbox" ng-click="deleteTodo(todo._id)"> </td>
              <!-- <td>{{ todo._id }}</td> -->
              <td>{{ todo.imovel }}</td>
              <td>{{ todo.locador }}</td>
              <td>{{ todo.locador_nomeAssinatura }}</td>
              <td>{{ todo.locador_conta }}</td>
              <td>{{ todo.text }}</td>
              <td>{{ todo.valorTotal }}</td>
              <td>{{ todo.dataDeEntrada | date: "dd/MM/yyyy" : "UTC"}}</td>
              <td>{{ todo.dataDeSaida | date: "dd/MM/yyyy" : "UTC"}}</td>
              <!-- <td>{{ todo.horarioDeEntrada | date: "HH:mm:ss"}}</td>
              <td>{{ todo.horarioDeSaida | date: "HH:mm:ss"}}</td> -->
              <!-- <td><button type="submit" class="btn btn-primary btn-sm" ng-click="downloadContract(todo._id)">Baixar</button></td>     -->
              <td><a ng-href="/api/download/{{todo._id}}" target="_self">a</A></td>   
            </tr>
          </table>
        </div>

        <p class="text-center" ng-show="loading">
          <span class="fa fa-spinner fa-spin fa-3x"></span>
        </p>

      </div>
    </div>

      </div>
    </tab>
    
    <tab heading="Imóveis">
    </tab>
    
    <tab heading="Hóspedes">
    </tab>
    
  </tabset>

  <!-- <div class="panel panel-default">
    <div class="panel-heading">Home Page</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
            tellus ac cursus commodo, tortor mauris condimentum nibh, ut
            fermentum massa justo sit amet risus. Etiam porta sem malesuada
            magna mollis euismod. Donec sed odio dui.</p>
          <p><a class="btn btn-primary" href="#">View details »</a></p>
        </div>
        <div class="col-sm-6">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
            tellus ac cursus commodo, tortor mauris condimentum nibh, ut
            fermentum massa justo sit amet risus. Etiam porta sem malesuada
            magna mollis euismod. Donec sed odio dui.</p>
          <p><a class="btn btn-primary" href="#">View details »</a></p>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="text-center">
    <a class="btn btn-default" href="https://github.com/sahat/satellizer"><i class="ion-social-github"></i> GitHub project</a>
    <a class="btn btn-default" href="https://github.com/sahat/satellizer/issues/new"><i class="ion-bug"></i> Report issue</a>
  </div> -->
</div>